body {
  padding-top: 45px;
}
.fp-jumbo p {
  margin: 0 !important;
  font-size: 16px !important;
}
.fp-jumbo {
  background-color: #efeddc;
}
.main-container {
  max-width: 800px !important;
}
